Сервис для исследования потребительских привычек, стратегий поведения пользователей и потребителей разных продуктов, а также помогающий получать информацию из первых рук о том, как сделать город наиболее удобным. Сервис собирает данные при помощи бота, включая геолокацию, и проецирует результат на карту.

Для участников исследования это выглядит так: Бот помогает вести дневник, задает вопросы по графику или по вызову соответствующей функции, а потом показывает общий результат, который привязан к карте. Бот вежливый и благодарит, если пользователь активно отвечает на вопросы:)

Бот отправляет вопросы индивидуально по списку выбранных контактов. Респонденты не общаются между собой. Могут постить текстовые ответы, фотографии, ссылки, геометки.
Есть опция задать вопрос с вариантами ответа (человек отвечает, выбирая номер варианта ответа)
Есть опция задать вопрос с картинкой
Есть опция опция загрузить как ответ фотографию, видео, ссылку